@use "../base" as *;
#aboutus{
    h3{
        font-size: map-get($fontsize, h3 );
    }
    .p-subtitle{
        font-size: map-get($fontsize, pqara-subtitle );
    }
} .aboutus i.fa {
            font-size: 60px;

        }